<% if @categories.any? %>

  <ul class="thumb">
  <% @categories.each do |category| %>
    <li>
        <%= link_to works_category_path(category) do %>
          <%= image_tag category.fon.url %>
          <div class="mask"> <div class="details"><%= category.name %></div></div>
        <% end %>
    </li>
  <% end %>
  </ul>

<% end %>
